@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  overflow-y: scroll;
  background-color: #f9f9f9;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* Loaded */
/* #preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.3s ease;
} */

/* .loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}
.loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #000;
    opacity: 0.25;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
  }
  .loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #6E00FF;
    animation: bxSpin 0.5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
  }
@keyframes bxSpin {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
} */

header {
  height: 94vh;
  background: url("backgroud.jpeg") no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin: 0;
}

.member-hov:hover {
  color: rgb(202, 200, 200);
}

/* #name-container {
  height: 40px;
  overflow: hidden;
  display: inline-block;
  font-family: monospace;
  font-size: 24px;
  white-space: nowrap;
  margin: 0;
  } */

.image-opacity {
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: relative;
  top: 0;
  left: 0;
}

.container-head {
  position: absolute;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  top: 40%;
  width: 100%;
}

.acount {
  display: flex;
  justify-content: center;
}

.akun {
  color: white;
  margin: 0px 10px 0px;
}

.marquee-wrapper {
  height: 6vh;
  width: 100%;
  overflow: hidden;
  background-color: #000000;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 10px 0;
}

.marquee {
  display: flex;
  width: max-content;
  animation: scroll-left 15s linear infinite;
}

.marquee-content {
  display: inline-block;
  padding-right: 50px;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
}

.paused {
  animation-play-state: paused;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Scroll up */
.to-top {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  color: #000000;
  transform: scale(0);
  z-index: 99;
  transition: all 0.2s linear;
}

.to-top:hover {
  color: #060606;
  transition: all 0.2s linear;
}

.to-top.active {
  transform: scale(1);
  transition: all 0.2s linear;
}

/* music */
.container-music {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.player {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #282828 0.3;
  padding: 50px 10px 50px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 4px 6px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  background-color: black;
}

.cover {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}

.info {
  text-align: center;
}

.info p {
  color: #fff;
  margin: 5px 0;
}

.title {
  font-size: 18px;
  margin: 5px 0;
  color: #fff;
}

.artist {
  font-size: 14px;
  color: #fff;
}

.progress {
  width: 100%;
  margin: 10px 0;
}

.playPause {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  line-height: 1;
  height: 35px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  padding-top: 25px;
}

.controls button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.progress-bar {
  flex: 1;
  height: 5px;
  appearance: none;
  background: #555;
  border-radius: 5px;
  outline: none;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.current-time,
.duration {
  color: white;
  font-size: 12px;
  width: 40px;
  text-align: center;
}

.lyrics {
  max-height: 150px;
  overflow: hidden;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  margin-top: 40px;
  height: 1.5em; /* tinggi tetap 1 baris */
}

.lyrics p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  transform: scale(1);
  transition: opacity 0.3s, transform 0.3s;
  pointer-events: none; /* Biar yang tak aktif nggak bisa diklik */
  color: #1db954;
}

.lyrics p.active {
  font-weight: bold;
  opacity: 1;
  transform: scale(1.2);
  pointer-events: auto;
}

/* member */
.container-member {
  margin: 0;
  padding: 0;
  height: auto;
}

.con-foto {
  display: inline-block;
  position: relative;
}

.bacground-foto {
  background-color: #0d213f;
  padding: 50px 20px;
  margin: 0 80px 0 80px;
  border-radius: 50px;
}

.tag-member {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-foto {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.foto {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  border-radius: 15px;
}

.name {
  position: absolute;
  margin: 0;
  bottom: 0; /* mulai dari bawah */
  left: 50%;
  transform: translate(-50%, 100%); /* tersembunyi di bawah */
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 90px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.4s ease;
}

.foto:hover img {
  filter: blur(0.9px);
}

.foto:hover .name {
  transform: translate(-50%);
  opacity: 1;
}

/* Footer */
.subscribe-section {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
}
.subscribe-section h2 {
  font-size: 2em;
  font-weight: bold;
  color: #0d213f;
}
.subscribe-section p {
  color: #555;
  margin-bottom: 20px;
}
#subscribe-form input {
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  width: 250px;
  margin-right: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
#subscribe-form button {
  padding: 12px 25px;
  background-color: #2f73d9;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#response-message {
  opacity: 0;
  transition: all 0.5s ease;
  font-weight: bold;
  margin-top: 20px;
}

#response-message.show {
  opacity: 1;
}

#response-message.success {
  color: green;
}

#response-message.error {
  color: red;
}

footer {
  background-color: #0d213f;
  color: white;
  padding: 40px 20px 10px 20px;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* max-width: 1100px; */
  margin: auto;
  padding-bottom: 10px;
}
.footer-column {
  flex: 1;
  margin: 10px 20px;
  min-width: 200px;
}
.footer-column h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column ul li {
  margin: 8px 0;
  font-weight: 200;
  font-size: 0.9em;
}
.footer-column ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.footer-column ul li a:hover {
  color: #2f73d9;
}
.footer-column p {
  font-weight: 200;
  font-size: 0.9em;
}
.footer-column p a {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.footer-column p a:hover {
  color: #2f73d9;
}
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid rgb(162, 162, 163);
  padding-top: 10px;
  font-size: 0.9em;
}

/* Rating */
.rating-box {
  width: 300px;
}
.rating-box img {
  filter: brightness(0) saturate(100%) invert(100%);
}
.con-footer-rating {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.rating-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}
.rating-img {
  width: 40px;
  height: 40px;
  margin: 10px auto;
  display: block;
}
input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  height: 6px;
  border-radius: 30px;
  margin-top: 20px;
}
